.separator {
  width: 100%;

  .separatorDesktop {
    width: 100%;
    height: 100%;
  }

  .separatorMobile {
    display: none;
  }

  @media (max-width: 768px) {
    .separatorDesktop {
      display: none;
    }

    .separatorMobile {
      display: block;
      height: auto;
      width: 100%;
    }
  }
}