.description {
  margin: 0 auto;
  padding: 4rem 0;
  width: 60%;

  h2 {
    text-transform: uppercase;
    font-weight: bold;
  }

  p {
    text-align: justify;
  }

  span {
    text-decoration: underline;
    cursor: pointer;
  }
}