@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin responsive($breakpoint) {
  @if $breakpoint ==mobile {
    @media (max-width: $mobile) {
      @content;
    }
  }

  @else if $breakpoint ==tablet {
    @media (max-width: $tablet) {
      @content;
    }
  }
}

@mixin container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 $spacing-md;
}