// Colores
$primary-color: #131e29;
$secondary-color: #ea0029;

// Breakpoints
$mobile: 768px;
$tablet: 1024px;

// Espaciados
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;

// Z-index
$z-topbar: 1000;
$z-navbar: 900;
$z-minicart: 800;